@charset "UTF-8";

body {

	background-color:#EEEEEE
}

a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #1ac21a;
	text-decoration: none;
}

h1 {
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;	
	padding-left: 15px;	
	
}
.contener {
	display : grid;
	grid-template-columns : 200px 200px  200px 200px ;
	grid-template-rows : 300px 300px 300px 300px ;
	gap : 20px;
	
}
.box {
	font-size : 12px;
	width : 200px;
	height: 300px;
	border : 1px #DDDDDD solid;
	text-align: left;	
	background-color:#FFFFFF;
}
.annonce {
	align="center";
	font-size : 12px;
	width : 1400px;
	border : 1px #DDDDDD solid;
	text-align: left;	
	background-color:#FFFFFF;
}
.vendre {
	font-size : 12px;
	width : 1400px;
	border : 1px #DDDDDD solid;
	text-align: right;	
	background-color:#FFFFFF;
}
annonce souligne{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-align: left;
	word-spacing: 1.2em;
	padding-left: 15px;
	text-decoration: underline;
}
  
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	padding-left: 15px;
	
}

body, p, legend, label, input {
    	font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #1ac21a solid;
}

legend {
    font-weight: bold;
    color: #1ac21a
}
.style1 {color: #FFFFFF}



/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form legend }
	margin: 3px 3px 0px 0px;
    border: 1px #000 solid;
}
form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}
form .succes {
    color: #090;
}
